<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Form</h1>
    <form method="post" action="/edit/{{data.id}}">
        {% csrf_token %}
    <table border="1" align="center">
        <tr>
            <td>Enter Name</td>
            <td><input type="text" name="uname" value="{{data.name}}"></td>
        </tr>
        <tr>
            <td>Enter email</td>
            <td><input type="email" name="uemail" value="{{data.email}}"></td>
        </tr>
        <tr> 
            <td>Enter MobileNumber</td>
            <td><input type="number" name="mobile" value="{{data.mobile}}"></td>
        </tr>
            <td>Message</td>
            <td><textarea name="msg" value="{{data.msg}}"></textarea></td>
        </tr>
      <tr>
        <td align="center"><input type="submit" value="submit"> </td>
      </tr>

    </table>



    </form>
</body>
</html>